<h1><%= @professor.name %>'s Students</h1>


<% @professor.students.each do |student| %>
  <section id="student-<%= student.id %>">
    <h3>Student: <%= student.name %></h3>
      <ul>
        <li>Age: <%= student.age %></li>
      </ul>
  </section>
<% end %>

<p>Average Age of Students: <%= @professor.average_student_age %></p>
